:root {
    --rounded-corner: 12px;
    --gnomeblue: #1c71d8;
    --blue1: rgb(153, 193, 241);
    --blue2: rgb(98, 160, 234);
    --blue3: rgb(53, 132, 228);
    --blue4: rgb(28, 113, 216);
    --blue5: rgb(26, 95, 180);
    --green1: rgb(143, 240, 164);
    --green2: rgb(87, 227, 137);
    --green3: rgb(51, 209, 122);
    --green4: rgb(46, 194, 126);
    --green5: rgb(38, 162, 105);
    --yellow1: rgb(249, 240, 107);
    --yellow2: rgb(248, 228, 92);
    --yellow3: rgb(246, 211, 45);
    --yellow4: rgb(245, 194, 17);
    --yellow5: rgb(229, 165, 10);
    --orange1: rgb(255, 190, 111);
    --orange2: rgb(255, 163, 72);
    --orange3: rgb(255, 120, 0);
    --orange4: rgb(230, 97, 0);
    --orange5: rgb(198, 70, 0);
    --red1: rgb(246, 97, 81);
    --red2: rgb(237, 51, 59);
    --red3: rgb(224, 27, 36);
    --red4: rgb(192, 28, 40);
    --red5: rgb(165, 29, 45);
    --purple1: rgb(220, 138, 221);
    --purple2: rgb(192, 97, 203);
    --purple3: rgb(145, 65, 172);
    --purple4: rgb(129, 61, 156);
    --purple5: rgb(97, 53, 131);
    --brown1: rgb(205, 171, 143);
    --brown2: rgb(181, 131, 90);
    --brown3: rgb(152, 106, 68);
    --brown4: rgb(134, 94, 60);
    --brown5: rgb(99, 69, 44);
    --light1: rgb(255, 255, 255);
    --light2: rgb(246, 245, 244);
    --light3: rgb(222, 221, 218);
    --light4: rgb(192, 191, 188);
    --light5: rgb(154, 153, 150);
    --dark1: rgb(119, 118, 123);
    --dark2: rgb(94, 92, 100);
    --dark3: rgb(61, 56, 70);
    --dark4: rgb(36, 31, 49);
    --dark5: rgb(0, 0, 0);
    --text: #f6f5f4;
    --maxwidth: 56rem;
}

body {
    margin: 0;
    font-family: Cantarell, system-ui, sans-serif;
    background: var(--dark4);
    background-repeat: repeat;
    color-scheme: dark;
}

.button {
    border-radius: var(--rounded-corner);
    border: 0;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
}

.button:hover {
    background-color: var(--light3);
    color: var(--dark4);
    cursor: pointer;
}

.container {
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.center {
    text-align: center;
}

.is-primary {
    color: var(--text);
    background-color: var(--dark4);
}

.is-secondary {
    color: var(--text);
    background-color: var(--dark3);
}

.is-green {
    background-color: var(--green5);
    color: var(--text);
}

.is-red {
    background-color: var(--red5);
    color: var(--text);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em 0px;
}

main input,
main select {
    float: right;
    width: 50%;
}